/*css styling for Official Website*/
html{
 width: 100%;
 height: 100%;
 background-color: white;
 font-size: 1em;
 padding:0;
 margin: 0;
 
}
#logo{
 text-align: center;
 font:bold 3em monospace;
 color: #ED8D38;
 margin: 0;
 float: left;
}

header{
 background-color: rgba(0,0,0,0.9);
 height: 100px;
	width: 100%;
 position: fixed;	
}
#navigation{
  
  background-color: rgba(0,0,0,0.8);
  border: 1px solid black;
  text-align: center;
  padding: 10px 10px;
  position: absolute;
  top: 100px;
  right:0;
  
}
#menu-button{
 float: right;
 background-color:  rgba(0,0,0,0.8);
 font:normal 1.3em monospace;
	color: #fff;
 height: 40px;
	width: 140px;
 margin-top: 60px;
	
}

li{
  display:block;
  list-style-type: none; 
	padding: 10px;
}

 #navigationButtons{
    margin: 0;
	padding: 0;
 }
#navigationButtons li a{
  text-decoration: none;
  font: bold 1.3em monospace;
  color: #fff;
  border-radius: 4px;
  margin: 0 10px;
}
#navigationButtons li a:hover{
	color:  #ED8D38;
}

html{
 background: url("tech.jpg") no-repeat center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 width: 100%;
 height: 100%;
 margin: 0;
}
#main{
 height: 900px;
}
body{
 margin: 0;
}

footer{
 height: 200px;
 background-color: rgba(0,0,0,0.8);
}
#contactInfo a{
 text-decoration: none;
 color: #ED8D38;
 font: bold 1.3em monospace;
 border-radius: 2px;
 display: block;
}
/*Icomoon fonts*/
@font-face {
	font-family: 'icomoon';
	src: url('fonts/icomoon.eot');
}
@font-face {
	font-family: 'icomoon';
	src: url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMggi/LkAAAC8AAAAYGNtYXDmPuaCAAABHAAAAFRnYXNwAAAAEAAAAXAAAAAIZ2x5Zn036EEAAAF4AAADoGhlYWQBpZ/FAAAFGAAAADZoaGVhA+IB6AAABVAAAAAkaG10eAcAAAAAAAV0AAAAHGxvY2EA9gJWAAAFkAAAABBtYXhwAA4AuAAABaAAAAAgbmFtZVcZpu4AAAXAAAABRXBvc3QAAwAAAAAHCAAAACAAAwIAAZAABQAAAUwBZgAAAEcBTAFmAAAA9QAZAIQAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADmAwHg/+D/4AHgACAAAAABAAAAAAAAAAAAAAAgAAAAAAACAAAAAwAAABQAAwABAAAAFAAEAEAAAAAMAAgAAgAEAAEAIOYA5gP//f//AAAAAAAg5gDmAv/9//8AAf/jGgQaAwADAAEAAAAAAAAAAAAAAAAAAQAB//8ADwABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAD/4AHgAcAANgAAJQ4BBw4BIyImJy4BJy4BJy4BNTQ2Nz4BNzYmJy4BIyIGMRQWFx4BFx4BFx4BMzA2NTQmJy4BBwFgDA4GBg4MDBgMDBgMDBcJCQsLCQkXDAwSEhIqDBhIFhMSLhcXRCQlRBhgHxUVKwygDBcJCQsLCQkXDAwYDAwYDAwOBgYODAwrFRUfYBhEJSREFxcuEhMWSBgMKhISEgwAAAADAAD/4AIAAeAAHAAmADgAAAEhIgYHDgEXAx4BFx4BMyEyNjc+ATcDNiYnLgEjFzIWFwcnPgEzIQEqASM3JwcDFzcTJwcXMCIzIQGr/qsSHg0LDgEBAQwNCyAQAVcQIAsNDAEBAQ4LDR4SAQIGArW3BAQEAVX+qwEBAXEPdAHBvwF2DXADAf6pAeANDAwfEf6qER8MDA0NDAwfEQFWER8MDA1AAgGWlgEC/oCdDnQBMejo/s90Dp0ABgAA/+ACAAHgAAYAHwBtAI4AlQC1AAA3PAE1HAEVNzI2Nz4BJy4BJy4BJyIGBw4BFx4BFx4BFyU1NCYnLgEjISIGBw4BBz4BNz4BMzoBMQcjHgEXHgEVFAYHDgEHDgEHDgEVFBYXHgEXHgEXHgEVFAYHMzI2Nz4BNREjFSM1IzUzNTMVMwU6ATMuAScuATU0Njc+ATcGIiMiJicuAScdAT4BNz4BMwcmNCcWFBcXLgEnLgEnLgEjLgEjJgYHDgEHHgEXHgE7ATQ2NTQmJwB2ERwKCQgDAxIODSERERwKCQgDAxMNDSERAYoNDAwfEf6qER8LDA0BCxoODh8PIpEoOA4VBwgHBwcHEgsLDgMEAwsHBxAGEhgHCAYCAZoRHwwMDWAgYGAgYP5dCA8IBQkDBAMBAQEEAgQJBA4aCwwUCQoWDAsZDVsBAQEB4gMNCQkYDgUKBgYLBhEgDg4YCQMPCwscD5ABAQEtAQIBAQIBmBAPDicXFycPDxEBDw4PJhcXKA8PEgGbKxEfDAwNDQsMHhEKEQYHByIFFQ4NIRAPGgsMFQgJDQUGCwcHDwgIDgQMGQ4OHxQGDAYNDAwfEQELYGAgYGD/BQsGBw0IBAkEBAgEAQUEBAwHIWUECAMCAz0CBQICBQIgCxEICBAJAgMBAQEHBQYRCg4ZCQoKBAkEBQkFAAAAAQAAAAEAAJ2x2EZfDzz1AAsCAAAAAADQQy+EAAAAANBDL4QAAP/gAgAB4AAAAAgAAgAAAAAAAAABAAAB4P/gAAACAAAAAAACAAABAAAAAAAAAAAAAAAAAAAABwAAAAAAAAAAAAAAAAEAAAACAAAAAgAAAAIAAAAAAAAAAAoAFAAeAHIAzgHQAAEAAAAHALYABgAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAOAK4AAQAAAAAAAQAOAAAAAQAAAAAAAgAOAEcAAQAAAAAAAwAOACQAAQAAAAAABAAOAFUAAQAAAAAABQAWAA4AAQAAAAAABgAHADIAAQAAAAAACgA0AGMAAwABBAkAAQAOAAAAAwABBAkAAgAOAEcAAwABBAkAAwAOACQAAwABBAkABAAOAFUAAwABBAkABQAWAA4AAwABBAkABgAOADkAAwABBAkACgA0AGMAaQBjAG8AbQBvAG8AbgBWAGUAcgBzAGkAbwBuACAAMQAuADAAaQBjAG8AbQBvAG8Abmljb21vb24AaQBjAG8AbQBvAG8AbgBSAGUAZwB1AGwAYQByAGkAYwBvAG0AbwBvAG4ARgBvAG4AdAAgAGcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAASQBjAG8ATQBvAG8AbgAuAAAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=) format('truetype'),
		 url(data:application/font-woff;charset=utf-8;base64,d09GRgABAAAAAAd0AAsAAAAABygAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABCAAAAGAAAABgCCL8uWNtYXAAAAFoAAAAVAAAAFTmPuaCZ2FzcAAAAbwAAAAIAAAACAAAABBnbHlmAAABxAAAA6AAAAOgfTfoQWhlYWQAAAVkAAAANgAAADYBpZ/FaGhlYQAABZwAAAAkAAAAJAPiAehobXR4AAAFwAAAABwAAAAcBwAAAGxvY2EAAAXcAAAAEAAAABAA9gJWbWF4cAAABewAAAAgAAAAIAAOALhuYW1lAAAGDAAAAUUAAAFFVxmm7nBvc3QAAAdUAAAAIAAAACAAAwAAAAMCAAGQAAUAAAFMAWYAAABHAUwBZgAAAPUAGQCEAAAAAAAAAAAAAAAAAAAAARAAAAAAAAAAAAAAAAAAAAAAQAAA5gMB4P/g/+AB4AAgAAAAAQAAAAAAAAAAAAAAIAAAAAAAAgAAAAMAAAAUAAMAAQAAABQABABAAAAADAAIAAIABAABACDmAOYD//3//wAAAAAAIOYA5gL//f//AAH/4xoEGgMAAwABAAAAAAAAAAAAAAAAAAEAAf//AA8AAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAA/+AB4AHAADYAACUOAQcOASMiJicuAScuAScuATU0Njc+ATc2JicuASMiBjEUFhceARceARceATMwNjU0JicuAQcBYAwOBgYODAwYDAwYDAwXCQkLCwkJFwwMEhISKgwYSBYTEi4XF0QkJUQYYB8VFSsMoAwXCQkLCwkJFwwMGAwMGAwMDgYGDgwMKxUVH2AYRCUkRBcXLhITFkgYDCoSEhIMAAAAAwAA/+ACAAHgABwAJgA4AAABISIGBw4BFwMeARceATMhMjY3PgE3AzYmJy4BIxcyFhcHJz4BMyEBKgEjNycHAxc3EycHFzAiMyEBq/6rEh4NCw4BAQEMDQsgEAFXECALDQwBAQEOCw0eEgECBgK1twQEBAFV/qsBAQFxD3QBwb8Bdg1wAwH+qQHgDQwMHxH+qhEfDAwNDQwMHxEBVhEfDAwNQAIBlpYBAv6AnQ50ATHo6P7PdA6dAAYAAP/gAgAB4AAGAB8AbQCOAJUAtQAANzwBNRwBFTcyNjc+AScuAScuASciBgcOARceARceARclNTQmJy4BIyEiBgcOAQc+ATc+ATM6ATEHIx4BFx4BFRQGBw4BBw4BBw4BFRQWFx4BFx4BFx4BFRQGBzMyNjc+ATURIxUjNSM1MzUzFTMFOgEzLgEnLgE1NDY3PgE3BiIjIiYnLgEnHQE+ATc+ATMHJjQnFhQXFy4BJy4BJy4BIy4BIyYGBw4BBx4BFx4BOwE0NjU0JicAdhEcCgkIAwMSDg0hEREcCgkIAwMTDQ0hEQGKDQwMHxH+qhEfCwwNAQsaDg4fDyKRKDgOFQcIBwcHBxILCw4DBAMLBwcQBhIYBwgGAgGaER8MDA1gIGBgIGD+XQgPCAUJAwQDAQEBBAIECQQOGgsMFAkKFgwLGQ1bAQEBAeIDDQkJGA4FCgYGCwYRIA4OGAkDDwsLHA+QAQEBLQECAQECAZgQDw4nFxcnDw8RAQ8ODyYXFygPDxIBmysRHwwMDQ0LDB4RChEGBwciBRUODSEQDxoLDBUICQ0FBgsHBw8ICA4EDBkODh8UBgwGDQwMHxEBC2BgIGBg/wULBgcNCAQJBAQIBAEFBAQMByFlBAgDAgM9AgUCAgUCIAsRCAgQCQIDAQEBBwUGEQoOGQkKCgQJBAUJBQAAAAEAAAABAACdsdhGXw889QALAgAAAAAA0EMvhAAAAADQQy+EAAD/4AIAAeAAAAAIAAIAAAAAAAAAAQAAAeD/4AAAAgAAAAAAAgAAAQAAAAAAAAAAAAAAAAAAAAcAAAAAAAAAAAAAAAABAAAAAgAAAAIAAAACAAAAAAAAAAAKABQAHgByAM4B0AABAAAABwC2AAYAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEADgAAAAEAAAAAAAIADgBHAAEAAAAAAAMADgAkAAEAAAAAAAQADgBVAAEAAAAAAAUAFgAOAAEAAAAAAAYABwAyAAEAAAAAAAoANABjAAMAAQQJAAEADgAAAAMAAQQJAAIADgBHAAMAAQQJAAMADgAkAAMAAQQJAAQADgBVAAMAAQQJAAUAFgAOAAMAAQQJAAYADgA5AAMAAQQJAAoANABjAGkAYwBvAG0AbwBvAG4AVgBlAHIAcwBpAG8AbgAgADEALgAwAGkAYwBvAG0AbwBvAG5pY29tb29uAGkAYwBvAG0AbwBvAG4AUgBlAGcAdQBsAGEAcgBpAGMAbwBtAG8AbwBuAEYAbwBuAHQAIABnAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4ALgAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA) format('woff');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


[data-icon]:before {
    font-family: "icomoon";
	content: attr(data-icon);
}
